*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* header */
.container{
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
}
.link{
    margin-right: 70px;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.list>li:nth-of-type(3)>.link{
    margin-right: 0;
}
.nav{
    background: black;
    padding: 14px 0;
}
.logo{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.header__content{
    background: url(../images/back.png) no-repeat center/cover;
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title{
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.btn{
    background: #FFFFFF;
    border-radius: 10px;
    width: 237px;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
}
/* main-about */
.about{
    padding-top: 30px;
    padding-bottom: 112px;
    background: #0E1C25;
}
.about__title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 47px;
}
.about__content{
    display: flex;
    justify-content: space-between;
}
.about__name{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 62px;
}
.about__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    width: 427px;
}
/* main-works */
.works__item{
    width: 312px;
    height: 550px;
    background: #B12B06;
    border-radius: 10px;
    padding: 15px;
    margin-right: 79px;
    margin-bottom: 30px;
}
.works__title{
   font-size: 40px;
   line-height: 48px;
   text-align: center;
   color: #FFFFFF;
   margin-top: 43px;
   margin-bottom: 70px;
}
.works{
    background: #5C6B81;
    padding-top: 43px;
    padding-bottom: 70px;
}
.works__img{
    width: 282px;
    height: 265px;
    border-radius: 10px;
    object-fit: contain;
}
.works__name{
    margin: 20px 0;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.works__text{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.works__btn{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 168px;
    background: #FFFFFF;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    border-radius: 10px;
    font-weight: 700;
}
.works__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works__item:nth-of-type(3n+3){
    margin-right: 0;
}
/* footer */
.footer{
    background: #000000;
    padding-top: 46px;
    padding-bottom: 62px;
}
.footer__social{
    display: flex;
    justify-content: space-between;
}
.footer__text{
    color: #FFFFFF;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 34px;
    text-align: center;
}